test -z "${VERSION_PATH}" && \
	export VERSION=`${WORKSPACE}/gawk --version | fgrep 'GNU Awk' | \
		sed '1,$s/GNU Awk //'` \
 || \
	export VERSION=`${VERSION_PATH} --version | fgrep 'GNU Awk' | \
		sed '1,$s/GNU Awk //'`
echo "Packaging gawk version ${VERSION}"

