test -z "${VERSION_PATH}" && \
	export VERSION=`${WORKSPACE}/git --version | fgrep 'git version' | \
		sed '1,$s/git version \(.*\..*\..*\)[^.]*$/\1/'` \
 || \
	export VERSION=`${VERSION_PATH} --version | fgrep 'git version' | \
		sed '1,$s/git version \(.*\..*\..*\)[^.]*$/\1/'`
echo "Packaging git version ${VERSION}"

