test -z "${VERSION_PATH}" && \
	export VERSION=`fgrep 'REL_VERSION' ${WORKSPACE}/ncurses/Maefile | \
		sed '1,$s/.*REL_VERSION[ \t]*= \(.*\)/\1/'` \
 || \
	export VERSION=`grep '#define.*NCURSES_VERSION[ \t]' ${VERSION_PATH} | \
		sed '1,$s/.*NCURSES_VERSION[ \t]*"\(.*\)"/\1/'`
echo "Packaging ncurses version ${VERSION}"

