test -z "${VERSION_PATH}" && \
	export VERSION=`fgrep 'REL_VERSION' ${WORKSPACE}/ncurses/Maefile | \
		sed '1,$s/.*REL_VERSION[ \t]*= \(.*\)/\1/'` \
 || \
	export VERSION=`grep '#define.*ZLIB_VERSION' ${VERSION_PATH} | \
		sed '1,$s/.*REL_VERSION[ \t]*= \(.*\)/\1/'` \
echo "Packaging zlib version ${VERSION}"

