if [ "${VERSION_PATH}" = "" ]; then
	. VERSION.dat
else
	. ${VERSION_PATH}/VERSION.dat
fi
if [ "${PRE_RELEASE-TAG}" = "" ]; then
	export VERSION=${MAJOR}.${MINOR}.${PATCH}
else
	export VERSION=${MAJOR}.${MINOR}.${PATCH}-${PRE_RELEASE_TAG}
fi
echo "Packaging OpenSSL (PUT) version ${VERSION}"

