test -z "${VERSION_PATH}" && \
	export VERSION=`grep '^VERSION=' ${WORKSPACE}/Makefile | sed '1,$s/VERSION=//'`\
 || \
	export VERSION=`${VERSION_PATH} version | fgrep OpenSSL | \
		sed '1,$s/OpenSSL \([^ ]*\) .*$/\1/'`
echo "Packaging OpenSSL (PUT) version ${VERSION}"


