RANDVERS=/tmp/$RANDOM

test -z "${VERSION_PATH}" && \
	${WORKSPACE}/ssh -V 2> ${RANDVERS} \
 || \
	${VERSION_PATH} -V 2> ${RANDVERS}
export VERSION=`sed '1,$s/OpenSSH_\([^ ,]*\).*$/\1/' <${RANDVERS}`
rm -f ${RANDVERS}
echo "Packaging OpenSSH version ${VERSION}"


