test -z "${VERSION_PATH}" && \
	export VERSION=`${WORKSPACE}/src/wget --version | \
		grep '^GNU Wget ' | \
		sed '1,$s/GNU Wget \([^ ]*\) .*/\1/'` \
 || \
	export VERSION=`${VERSION_PATH} | \
		grep '^GNU Wget ' | \
		sed '1,$s/GNU Wget \([^ ]*\) .*/\1/'`
echo "Packaging wget version ${VERSION}"

